.city-infos{
  margin-top: 1rem;
  padding: 0 1rem;
  h2{
    text-align: center;
  }
  span{
    display: block;
    width: 100%;
    text-align: center;
  }
  .d-flex{
    display: flex;
    div:first-child{
      flex: 1;
      span{
        text-align: left;
      }
    }
    div:last-child{
      flex: 1;
      span{
        text-align: right;
      }
    }
  }
}
@media screen and (max-width: 700px) {
 .d-flex{
   display: block !important;
   div span{
     text-align: left !important;
   }
 }
}