/* Responsive Styles */
@media screen and (max-width: 767px) {
    
}

@media screen and (max-width: 575px) {
 
}
.toolbar {
    position: relative;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    padding: 0 1rem;
  }

  .toolbar img {
    margin: 0 16px;
  }