.content {
    padding: 1rem 0;
    background-color: #f4f1f1;
}
.pl-1{
    padding-left: 1rem;
}
.rodape{
    display: block;
    text-align: center;
    span{
        text-align: center;
    }
}
.prev-title{
    text-align: left;
    margin-top: .5rem;
}
.text-center{
    text-align: center;
}
.d-flex{
    display: flex;
    h3{
        font-size: .9rem;
        margin-bottom: 0;
    }
    div:first-child{
        flex: 1.3;
    }
    div:last-child{
        flex: 0.7;
        padding-right: 1rem;
        height: 2rem;
        line-height: 3rem;
    }
}
.caption{
    width: 90%;
    display: block;
    text-align: end;
    margin: 0 5%;
    font-size: 0.6rem;
    a{
        text-decoration: none;
    }
}
.m-x-auto{
    margin: 0 auto;
}