<div mat-dialog-content>
  <p>Buscar cidade</p>
  <mat-form-field appearance="fill" class="w-100">
    <mat-label>Cidade</mat-label>
    <input matInput [formControl]="cidade">
    <button matSuffix mat-icon-button aria-label="Pesquisar" (click)="buscar()">
        <mat-icon>search</mat-icon>
      </button>
  </mat-form-field>
  <ng-template [ngIf]="status === STATUS.ERROR">
    <p>Não encontrado</p>
  </ng-template>
  <ng-template [ngIf]="result">
    <button mat-button (click)="fechaModal()" cdkFocusInitial>
      <p>{{result.name}} - {{result.region}}</p>
    </button>
  </ng-template>
</div>
<mat-dialog-actions align="end">
  <button mat-button (click)="fechaModal()">Fechar</button>
  <!-- <button mat-button [mat-dialog-close]="cidade.value" cdkFocusInitial>Ok</button> -->
</mat-dialog-actions>