<div mat-dialog-content>
  <p>Buscar cidade</p>
  <mat-form-field appearance="fill">
    <mat-label>Cidade</mat-label>
    <input matInput [formControl]="cidade">
    <button matSuffix mat-icon-button aria-label="Pesquisar" (click)="buscar()">
        <mat-icon>search</mat-icon>
      </button>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="fechaModal()">Fechar</button>
  <!-- <button mat-button [mat-dialog-close]="cidade.value" cdkFocusInitial>Ok</button> -->
</div>